html {
    min-width: 800px;
}

body {
    min-width: 800px;
    display: block;
    background: black;
     color: white;
     font-family: 'Cabin', sans-serif;
     margin: 0;
     padding: 0;
     border: 0;
     height: 100vh;
     position: relative;
     z-index: 2;
 }

 .background {
     /* position: absolute; */
     min-height: 100%;
    min-width: 100%;
	
    /* Set up proportionate scaling */
     width: 100%;
    height: auto;
	
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
     z-index: -1;   
     min-height: 100%;
     width: 100%;
     filter: grayscale(0.2) blur(0.8px) brightness(30%);
 }

 button:focus {
     outline: none;
 }

 input[type="text"],
 input[type="password"]
{
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: whitesmoke;
    height: 28px;
    background-color: #585656;
    border-style: none;
    border-radius: 2px;
    margin: 5px;
    border:0.75px solid black;
}

 input[type="text"]:focus,
 input[type="password"]:focus
{   
    outline: none !important;
    border:0.75px solid #f5c976;
    box-shadow: 0 0 4px whitesmoke;
    background-color: #646464;
}

input[type="text"]:active,
 input[type="password"]:active
{
    transition: all 0;
    background-color: #646464;
    
}

::placeholder {
    opacity: 1;
    color: #b3b3b3;
    text-shadow: 0px 0.5px #666464
}

 .app {
     display: flex;
 }

 img {
    max-width: 100%;
    max-height: 100%;
}

 .logo-img {
    position: absolute;
    left: 23px;
    top: 23px;
    height: 40px;
    width: 40px;
    z-index: 3;
 }

 .logo-text {
     font-family: 'Work Sans', sans-serif;
     font-size: 28px;
     padding-left: 20px;
     text-shadow: 0.25px 0.25px #b3b3b3;
 }

 .l1 {
    position: absolute;
    font-size: 31px;
    left: 65px;
    top: 23px;
    z-index: 1;
 }

 .l2 {
    position: absolute;
    font-size: 28px;
    /* padding-bottom: 5px; */
    top: 26px;
    left: 77.75px;
    letter-spacing: -1.75px;
 }

 .rest {
    position: absolute;
    font-size: 28px;
    /* padding-bottom: 5px; */
    top: 26px;
    left: 84px;
    letter-spacing: -1.75px;
 }

 .l3 {
    display:none;
    position: absolute;
    font-size: 27px;
    left: 180px;
    top: 38px;
 }
