.audio-player {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    bottom: 0px;
    right: 0px;
    background-color: #292929;
    margin-bottom: 0;
    height: 90px;
    min-width: 100%;
    width: 100%;
    color: #b3b3b3;
    flex-wrap: wrap;
}

.player-buttons {
    border: none;
    background: none;
    color: #b3b3b3;
}

.material-icons.md-48 { 
    font-size: 44px; 
}

.play-time {
    font-size: 10.5px;
    letter-spacing: 0.25px;
    padding: 5px;
    width: 25px;
}

.audio-player-mid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -25px;
    min-width: 45vh;
    width: 45%;
}

.play-pause {
    position: absolute;
    top: -50px;
    align-self: center;
    justify-self: center;
    color: #cccccc;
}

.play-pause:hover {
    transition: all 0.15s ease-in-out;
    transform: scale(1.10);
    color: whitesmoke;
}

.play-pause:active {
    transition: all 0.01s ease-in-out;
    transform: scale(1.0);
    color: grey;
}

.back {
    font-size: 15px;
    position: absolute;
    top: -36px;
    left: 30%;
}

.back:hover {
    transition: all 0.15s ease-in-out;
    color: whitesmoke;
}

.back:active {
    transition: all 0.01s ease-in-out;
    transform: scale(1.0);
    color: grey;
}

.forward {
    font-size: 15px;
    position: absolute;
    top: -36px;
    right: 30%;
}

.forward:hover {
    transition: all 0.15s ease-in-out;
    color: whitesmoke;
}

.forward:active {
    transition: all 0.01s ease-in-out;
    transform: scale(1.0);
    color: grey;
}

.progress-bar {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 2.5px; 
    outline: none;
    padding: 1px;
    margin: 1px;
    background: grey;
    border-radius: 20px;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: round;
  border-radius: 50%;
  width: 13px; 
  height: 13px; 
  background: whitesmoke; 
  cursor: default; 
}

.progress-bar::-moz-range-thumb {
  width: 13px;
  height: 13px; 
  background: whitesmoke; 
  cursor: default;
  border-radius: 50%;
}



.slider {
  appearance: none;
  width: 100%; 
  background: #d3d3d3; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.now-playing {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    position: fixed;
    bottom: 0;
    background:none;
    height: 90px;
    width: 25vh;
    margin-left: 0px;
    margin-right: 10px;
}

.cover-art {
    position: absolute;
    left: 15px;
    height: 60px;
    width: 60px;
    background: #292929;
    margin: 2px;
}

.track-desc {
    position: absolute;
    left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    margin-left: 0;
}

.audio-player-left {
    position: absolute;
    left: 0px;
}

.audio-player-right {
    position: absolute;
    right: 0px;
    margin-right: 30px;
    align-content: center;
    align-items: center;
}


.track-title {
    color: whitesmoke;
    padding: 2px;
    letter-spacing: 1px;
}

.track-artist {
    color: #b3b3b3;
    padding: 2px;
    font-size: 13px;
}

.mute-button {
    /* padding-top: 5px; */
    position: relative;
    top: 5px;
    font-size: 12px;
}

.mute-button:hover {
    transition: all 0.15s ease-in-out;
    color: whitesmoke;
}

.mute-button:active {
    transition: all 0.01s ease-in-out;
    transform: scale(1.0);
    color: grey;
}

.volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: round;
  border-radius: 50%;
  width: 10px; 
  height: 10px; 
  background: whitesmoke; 
  cursor: default; 
}

.volume-bar::-moz-range-thumb {
  width: 10px;
  height: 10px; 
  background: whitesmoke; 
  cursor: default;
  border-radius: 50%;
}

.volume-bar {
    -webkit-appearance: none;
    appearance: none;
    height: 1.5px; 
    outline: none;
    padding: 1px;
    margin: 1px;
    background: grey;
    border-radius: 20px;
    /* padding-bottom: 5px; */
}

.track-artist-link {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 13px;
}

.track-artist-link:hover {
    text-decoration: underline;
    color: whitesmoke;
    font-size: 13px;
}