.index-structuring {
    background: none;
    /* background-color: rgba(67, 67, 67, 0.365); */
    width: 100%;
    margin-left: 220px;
    margin-right: 0px;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;  
    min-height: 100%;
    width: 100%;
}

.index-main {
    position: absolute;
    margin-left: 200px;
    margin-right: 0px;
    width: 150vh;
    display: flex;
    flex-direction: column;
    overflow-wrap: normal;
    z-index: -1;
    /* z-index: 10; */
}

.index-part {
    height: 34%;
    width: 100%;
    background: none;
    /* border: 1px solid white; */
    overflow-wrap: normal;
    display: flex;
    flex-direction: column;
    overflow: hidden;
      justify-content: left;
    align-items: flex-start;
}

.display-block-image-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    z-index: 8;
}


.display-block-image-item {
    margin: 10px;
    height: 215px;
    width: 215px;
    background: black;
    padding: none;
}

.display-block-image-item:last-of-type {
    margin-right: 0px;
}

.display-block-image-item:hover {
    transition: all 0.2s ease-in-out;   
    background: none !important;
    background-image: none !important;
    border: none !important;
}

.display-block-image-item-blank {
    margin: 10px;
    height: 215px;
    width: 215px;
    background: black;
    border: 0.25px solid rgb(68, 68, 68);
    position: relative;
}

.button-hider {
    opacity: 0;
    height: 215px;
    width: 215px;
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    z-index: 8;
    text-align: center;
    color: whitesmoke;
}

.button-hider:hover {
    /* transition: all 0.2s ease-in-out; */
    opacity: 1;
    color: whitesmoke;
    background: rgba(44, 44, 44, 0.5);
    filter: grayscale(0.3) blur(0.3px) brightness(90%);
}

.button-hider:active {
    transition: all 0.2s ease-in-out;
    opacity: 1;
    transform: scale(0.95);
    color: whitesmoke;
    background: rgba(44, 44, 44, 0.5);
}

.home-header {
    padding-left: 54px;
    font-size: 35px;
}

.index-play {
    font-size: 80px !important;
}

.display-block-title {
    position: relative;
    top: -5px;
    margin-top: 0;
    padding-left: 30px;
    font-size: 14px;
    letter-spacing: 0.75px;
    color: rgb(219, 219, 219);
    text-decoration: none;
}

.display-block-artist {
    display: block;
    position: relative;
    top: -5px;
    margin-top: 4px;
    padding-left: 30px;
    font-size: 13px;
    letter-spacing: 0.75px;
    color: rgb(170, 170, 170);
    text-decoration: none;
}

.display-block-title:hover {
    color: whitesmoke;
    text-decoration: underline;
}
.display-block-artist:hover {
    color: whitesmoke;
    text-decoration: underline;
}

