
.nav-left {
    position: absolute;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    min-height: 100%;
    height: 100vh;
    width: 230px;
    background-color: rgb(18, 18, 18);
    /* padding-left: 10px; */
    /* margin-bottom: 90px; */
}

.site-nav {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 60px;
    width: 100%; 
    margin-top: 15px;
}

.nav-icons {
    vertical-align: middle;
}

.nav-text {
    position: relative;
    top: 2px !important;
    left: 10px;
}

.site-nav-link {
    width: 100%;
    height: 30px;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    /* text-align: center; */
    padding-left: 20px; 
    text-decoration: none;
    border-left: 4px solid rgb(18, 18, 18);
    color: #b3b3b3;
    /* vertical-align: middle; */
}

.create-pl-link {
    margin-top: 150px;
    font-size: 15px;
    letter-spacing: 1px;
}

.site-nav-link:hover {
    transition: all 0.25s ease-in;
    color: white;
}

.site-nav-link:focus {
    border-left: 4px solid #f59b23;
    color: white;
}


.nav-sub-header:hover {
    border-left: 4px solid rgb(18, 18, 18) !important;
}

.user-nav {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    padding: 22px;
    margin: 0 auto;
    /* margin-bottom: 0; */
    padding-bottom: 100px;
}

.greeting-temp {
    /* border: 1px solid white; */
    /* border-radius: 15px; */
    width: 180px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font-size: 15px;   
    font-weight: bold;
    padding-top: 7px;
    letter-spacing: 2px;
}

.session-button {
    border: 1px solid white;
    border-radius: 15px;
    width: 180px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font-size: 11px;   
    font-weight: bold;
    padding-top: 7px;
    letter-spacing: 2px;
}


.login {
    background-color: rgb(18, 18, 18);
    border: 2px solid #b3b3b3;
    color: #f9f9f9;
    text-shadow: 0px 0.5px #666464
}

.signup {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #000000;
    text-shadow: 0px 0.5px #b3b3b3;
}

.login:hover {
    transition: all 0.05s ease-in-out;
    transform: scale(1.05);
    border-color: whitesmoke
}

.signup:hover {
    transition: all 0.05s ease-in-out;
    transform: scale(1.05);
}

.login:active {
    transition: all 0.01s ease-in-out;
    transform: scale(1.0);
    border-color: whitesmoke
}

.signup:active {
    transition: all 0.01s ease-in-out;
    transform: scale(1.0);
}

.user-playlist-list {
    position: absolute;
    bottom: 310px;
    list-style: none;
    color: #b3b3b3;
    height: 300px;
    overflow: auto;
    width: 230px;
    padding-left: 0px !important;
    margin-left: 0 !important;
}

.user-playlist-container {
    width: 210px;
    margin-left: 0;
}


.playlist-item {
    padding: 4px;
    padding-left: 0;
    font-size: 16px !important;
}

.playlist-link {
    font-size: 14px !important;
    letter-spacing: 1px;
    border-left: 4px solid transparent;
    width: 100%;
    padding-left: 10px;

}

.nav-sub-header {
    font-size: 11px !important;
    letter-spacing: 2.5px;
    color: whitesmoke;
    padding-left: 10px !important;
}

.playlist-link:hover {
    text-decoration: none !important;
    border-left: 4px solid #f59b23;
    color: white;
}

.playlist-link:focus {
    border-left: 4px solid #f59b23;
    color: white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 20px;
  height: 5px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.user-pic {
    position: absolute;
    top: -18px;
    left: 89px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgb(66, 66, 66);
}

.greeting-temp {
   /* position:absolute; */
}